In [6]:
import pandas as pd

df = pd.read_csv("water_potability.csv")
print(len(df))

2009

In [7]:
df.head()

,1,8.316765884214679,214.3733940856225,22018.41744077529,8.05933237743854,356.88613564305666,363.2665161642437,18.436524495493305,100.34167436508008,4.628770536837084,0
0,2,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
1,3,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
2,4,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
3,5,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
4,6,11.180284,227.231469,25484.508491,9.077200,404.041635,563.885481,17.927806,71.976601,4.370562,0