In [8]:
import pandas as pd

df = pd.read_csv("water_potability.csv")
print(len(df))

2009

In [9]:
df.head()

,1,8.316765884214679,214.3733940856225,22018.41744077529,8.05933237743854,356.88613564305666,363.2665161642437,18.436524495493305,100.34167436508008,4.628770536837084,0
count,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000,2009.000000
mean,1006.000000,7.086581,195.960048,21904.616822,7.133862,333.199592,426.508172,14.355910,66.383822,3.969169,0.403186
std,580.092665,1.572955,32.648709,8627.545029,1.585474,41.217984,80.709632,3.325352,16.067261,0.780527,0.490660
min,2.000000,0.227499,73.492234,320.942611,1.390871,129.000000,201.619737,2.200000,8.577013,1.450000,0.000000
25%,504.000000,6.090016,176.736376,15613.160533,6.137757,307.621462,366.802484,12.120956,55.947322,3.442848,0.000000
50%,1006.000000,7.027297,197.191839,20920.251561,7.140122,332.196048,423.455906,14.322019,66.421884,3.966571,0.000000
75%,1508.000000,8.052894,216.454108,27172.893573,8.110140,359.268543,482.294404,16.682025,77.286551,4.513201,1.000000
max,2010.000000,14.000000,317.338124,56488.672413,13.127000,481.030642,753.342620,27.006707,124.000000,6.494749,1.000000